<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZonaZero0"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".VerSucursalesActivity"
            android:exported="false" />
        <activity
            android:name=".VerProductosActivity"
            android:exported="false" />
        <activity
            android:name=".VerUsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".CrearProducto"
            android:exported="false" />
        <activity
            android:name=".ActivityProductos"
            android:exported="false" />
        <activity
            android:name=".Productos"
            android:exported="false" />
        <activity
            android:name=".CrearTiendas"
            android:exported="false" />
        <activity
            android:name=".ActivityTiendas"
            android:exported="false" />
        <activity
            android:name=".CrearUsuario"
            android:exported="false" />
        <activity
            android:name=".ActivityUsuarios"
            android:exported="false" />
        <activity
            android:name=".InventarioAdmin2"
            android:exported="false" />
        <activity
            android:name=".InventarioAdmin"
            android:exported="false"
            android:label="@string/title_activity_inventario_admin"
            android:theme="@style/Theme.ZonaZero0" />
        <activity
            android:name=".SolicitudPregunta"
            android:exported="false" />
        <activity
            android:name=".MainUser"
            android:exported="true" />
        <activity
            android:name=".MainAdmin"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>